# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# PyInstaller
*.spec

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.bak

# Unit test / coverage reports
.coverage
htmlcov/
.cache/
.pytest_cache/

# IDE and editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Project-specific
src/__pycache__/
tests/__pycache__/

#files 
StanLogic/reports/

# 24-bit test results (large files)
StanLogic/tests/KMapSolver/24_bits_test/Outputs/
StanLogic/tests/KMapSolver/24_bits_test/verilog/
!StanLogic/tests/KMapSolver/24_bits_test/Outputs/*.zip
!StanLogic/tests/KMapSolver/24_bits_test/Outputs/*.pdf
!StanLogic/tests/KMapSolver/24_bits_test/verilog/*.zip

# Large CSV and text files from outputs
# StanLogic/tests/KMapSolver/outputs/**/*.csv
# !StanLogic/tests/KMapSolver/outputs/**/statistical_analysis*.csv
# !StanLogic/tests/KMapSolver/outputs/**/benchmark_results2D.csv
# !StanLogic/tests/KMapSolver/outputs/**/benchmark_results3D.csv
# !StanLogic/tests/KMapSolver/outputs/**/benchmark_results4D.csv
# !StanLogic/tests/KMapSolver/outputs/**/*_decay.csv