# Ignore everything
*

# But keep README.md
!README.md

# But keep this folder
!kmap_algorithm/

# And keep its contents
!kmap_algorithm/*

# And keep images folder + its contents
!kmap_algorithm/images/
!kmap_algorithm/images/*